<%= form_for :comment, url: comments_path do |f| %>
  <ul class="comment-create-form">
    <li class="comment-form-name">
      <%= f.text_field :name, placeholder: "名前" %>
    </li>
    <li class="comment-form-age">
      <%= f.number_field :age, placeholder: "年齢" %>
    </li>
    <li  class="comment-form-profession">
      <%= f.text_field :profession, placeholder: "職業" %>
    </li>
    <li  class="comment-form-message">
      <%= f.text_field :message, placeholder: "コメントを入力してください。" %>
    </li>
    <li  class="comment-form-submit">
      <%= f.submit "送信"%>
    </li>
  </ul>
<% end %>