<!DOCTYPE html>
<html>
  <head>
    <title>DebateApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="top-menu">
      <ul>
        <li class="title"><%= link_to "DebateApp", debates_path %></li>
        <li><%= link_to "New Devate", new_debate_path %></li>
      </ul>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
